* { margin: 0; padding: 0; }
body{
    display:flex;
    flex-direction: column;
    margin: 0px;
}

.header{
    background-color:rgb(20, 20, 20);
    height:80px;
    margin:0;
    padding: 0;
    min-width: 1920px;
    max-width: 100%;
    display:flex;
    color: aliceblue;
    font-size: 25px;
    font-family: Marker Felt, fantasy;
    justify-content: space-between;
    align-items: center;
}

#logo{
    font-size: 30px;
    font-family: italic;
    animation-duration: 1s;
    animation-name: slidein;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 450;
    margin-left:45px;
}
#logo a{
    color: unset;
    text-decoration: unset;
}
#header_news{
    background-color:black;
    border:solid;
    border-color: forestgreen;
    border-radius: 5px;
    border-width: 4px;

}
#header_other{
    background-color:black;
    border:solid;
    border-color: forestgreen;
    border-radius: 5px;
    border-width: 4px;    
}
#header_contacts{
    background-color:black;
    border:solid;
    border-color: forestgreen;
    border-radius: 5px;
    border-width: 4px;    
}
#header_login *{
    display: flex;
    color: unset;
    align-items: center;
    text-decoration: unset;
}
#header_login p{
    text-decoration: unset;
    color: unset;
    background-color:black;
    border:solid;
    border-color: forestgreen;
    border-radius: 5px;
    border-width: 4px;    
}

#img_door{
    height: 100px;
}
.bas_main{
    width: 1610px;
    margin-left: 310px;
    margin-right: 310px;
}
.line_data_author{
    display: flex;
    flex-direction: row;
    color: white;
    height: 15px;
    margin-top: 50px;
    margin-left: 200px;
    font-size: 20px;
}
#date_news{
    margin-left: 50px;
}
#author_news{
    margin-left: 50px;
}
.basic_text{
    color: white;
    margin-top: 70px;
    margin-left: 200px;
    width: 852px;
}
#img_product *{
    height: 300px;
    margin-left: 100px;
    width: 850px;
}
#underline1{
    width: 850px;
    margin: 0;
    
}
#name_news{
    font-size: 35px;
    margin-top: 30px;
}
#img_news1 img{
    height: 200px;
    border: solid;
    border-radius: 20px;
}
#img1_intext{
    position: relative;
    top: -185px;
    left: 530px;
    width: 317px;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    border: solid;
    color: black;
    background-color: white;
    border-radius: 30px;
}
#bas_text{
    display: flex;
}
#text_part1{
    position: relative;
    top: -209px;
    left: 330px;
    margin-right: 330px;
    font-size: 19px;
}
#text_part2{
    position: relative;
    margin-right: 330px;
    top: -200px;
    left: 330px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 19px;
}
#text_part3{
    position: relative;
    top: -191px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 19px;
}
#text_part4{
    position: relative;
    top: -188px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 19px;
}
#text_part5{
    position: relative;
    top: -420px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 19px;
    margin-right: 322px;
}
#text_part6{
    position: relative;
    top: -419px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 19px;
}
@media screen and (max-width:8882px) and (min-width:3501px){
    .header{
        min-height: 250px;
        max-height: 400px;
        font-size:95px;
        border-width: 16px;
    }
    #logo{
        font-size: 90px;
    }
    #img_door{
        height: 250px;
    }
}
@media screen and (max-width:1920px){
    .header{
        min-width: 1730px;
        max-width: 1920px;
        font-size: 25px;
        height: 80px;
    }
}
@media screen and (max-width:1590px){
    .header{
        min-width: 1330px;
    }
}
@media screen and (max-width:1400px) {
    .header{
        min-width: 800px;
    }
}
@media screen and (max-width:1200px) {
    .header{
        min-width: 800px;
    }
    #logo{
        margin: 0;
    }
}
@media screen and (max-width:1000px) {
    .header{
        min-width: 700px;
        height: 70px;
    }
    #logo{
        margin: 0;
    }
}
@media screen and (max-width:700px){
    .header{
        min-width: 600px;
        font-size: 8px;
        height: 40px;
    }
    #logo{
        font-size: 15px;
        margin: 0;
    }
    #img_door{
        height: 50px;
    }
}
@media screen and (max-width:600px){
    .header{
        min-width: 300px;
        max-width: 500px;
        font-size: 8px;
        height: 40px;
    }
    #logo{
        font-size: 15px;
        margin: 0;
    }
    #img_door{
        height: 50px;
    }
}